<div class="content">

    <div class="person-area" #personArea>
    </div>

    <div class="controls">
        <div>
            People sick: {{ numPeopleSick }} ({{ numPeopleListPercent }}%)
        </div>

        <div>
            People immune: {{ numPeopleImmune }}
        </div>

        <div>
            <label for="people">% Immune <span class="immunity">({{ percentImmunity }})</span></label>
            <input
                #percentImmunityInput
                name="immunity"
                type="range"
                min="0"
                max="100"
                (change)="handlePercentImmunityChange($event.target.value)"
                (input)="handlePercentImmunityChanging($event.target.value)"
            >
        </div>

        <div>
            <label for="people">Number of people <span class="num-people">({{ numPeopleShown }})</span></label>
            <input #numPeopleInput name="people" type="range" min="1" max="{{ maxNumPeople }}" (input)="handleNumPeopleChange($event)">
        </div>

        <div class="buttons">
            <button (click)="handleReset()">
                Reset
            </button>
            <button (click)="handleRandomize()">
                Randomize
            </button>
        </div>
        <button (click)="handleInfo()">
            About herd immunity
        </button>
    </div>

    <app-info-popover>
    </app-info-popover>

</div>
