<div class="content">

    <div class="match-area" #matchArea>
    </div>

    <div class="controls">
        <div>
            Matches lit: {{ numMatchesLit }} ({{ numMatchesListPercent }}%)
        </div>

        <div>
            <label for="matches">Immunity <span class="immunity">({{ percentImmunity }})</span></label>
            <input #percentImmunityInput name="immunity" type="range" min="0" max="100" (input)="handlePercentImmunityChange($event.target.value)">
        </div>

        <div>
            <label for="matches">Number of matches <span class="num-matches">({{ numMatchesShown }})</span></label>
            <input #numMatchesInput name="matches" type="range" min="1" max="{{ maxNumMatches }}" (input)="handleNumMatchesChange($event)">
        </div>

        <div>
            <label for="ignition">Ignition radius ({{ ignitionRadius }})</label>
            <input #ignitionRadiusInput name="ignition" type="range" min="0" max="100" (input)="handleIgnitionRadiusChange($event)">
        </div>

        <div class="buttons">
            <button (click)="handleReset()">
                Reset
            </button>
            <button (click)="handleRandomize()">
                Randomize
            </button>
        </div>
    </div>

</div>
