/* You can add global styles to this file, and also import other style files */

.match {
    position: absolute;
    display: inline-block;
    width: 1.5vmin;
    height: calc(1.5vmin * 4);
    padding: 0.25em;
    cursor: pointer;
}

.match > img.unlit-match
{
    position: relative;
    width: 100%;
    height: auto;
}

.match > img.flame
{
    position: relative;
    left: -50%;
    top: -160%;
    width: 200%;
    height: auto;
    transition: transform 200ms ease-out, opacity 100ms;
    transform: scale(0);
    opacity: 0;
}

.match.lit > img.flame
{
    opacity: 1;
    transform: scale(1);
    display: unset;
}
