/* You can add global styles to this file, and also import other style files */

body
{
    padding: 0;
    margin: 0;
}

.match
{
    position: absolute;
    display: inline-block;
    width: 2vmin;
    height: calc(2vmin * 4);
    padding: 0.25em;
    cursor: pointer;

    & > img.unlit-match
    {
        position: relative;
        width: 100%;
        height: auto;
    }

    & > img.flame
    {
        position: relative;
        left: -50%;
        top: -160%;
        width: 200%;
        height: auto;
        transition: transform 200ms ease-out, opacity 100ms;
        transform: scale(0);
        opacity: 0;
    }

    &.lit > img.flame
    {
        opacity: 1;
        transform: scale(1);
        display: unset;
    }

}
