/* You can add global styles to this file, and also import other style files */

body
{
    padding: 0;
    margin: 0;
}

.person
{
    position: absolute;
    display: inline-block;
    /* Calculate the person size as a combination of the document font size, and
     * a percent of the screen width/height. If the person size were a function
     * font size only, they wouldn't scale properly between large and small
     * screens. (they would either look too big on small screens, or too small
     * on large screens) Likewise if the person size were a function of screen
     * width/height. A combination of techniques makes for a better appearance
     * across screen sizes. */
    width: calc(0.5rem + 1vmin);
    height: calc(calc(0.5rem + 1vmin) * 2.25);
    padding: 0.1em;
    cursor: pointer;

    img.person-vulnerable, img.person-immune, img.person-sick
    {
        position: relative;
        width: 100%;
        height: auto;
        top: -135%;
        left: 100%;
    }

    img.person-immune
    {
        display: none;
    }

    img.person-sick
    {
        display: none;
    }

    img.sickness
    {
        position: relative;
        width: 300%;
        height: auto;
        transition: transform 0s ease-out;
        transform: scale(0);
    }

    &.immune > img.person-immune
    {
        display: inline-block;
    }

    &.immune > img.person-vulnerable
    {
        display: none;
    }

    &.sick > img.person-sick
    {
        display: unset;
    }

    &.sick > img.person-vulnerable
    {
        display: none;
    }

    &.sick > img.sickness
    {
        transform: scale(1);
        display: unset;
        transition: transform 100ms ease-out;
    }

}
